#################################################
# Maven / Gradle
#################################################
target/
build/
out/

#################################################
# Java
#################################################
*.class
*.jar
*.war

#################################################
# IDE
#################################################
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

#################################################
# OS
#################################################
.DS_Store
Thumbs.db

#################################################
# Logs
#################################################
*.log
logs/

#################################################
# Environment / Secrets
#################################################
.env
.env.*
*.env

#################################################
# Spring Boot CONFIG (IMPORTANT)
#################################################
src/main/resources/application.yml
src/main/resources/application-local.yml
src/main/resources/application-prod.yml

#################################################
# Temp / Cache
#################################################
tmp/
temp/

#################################################
# Tests
#################################################
surefire-reports/
jacoco.exec